.#{$display_name}--n {
    display: none;
}

.#{$display_name}--b {
    display: block;
}

.#{$display_name}--i {
    display: inline;
}

.#{$display_name}--ib {
    display: inline-block;
}

.#{$display_name}--tb {
    display: table;
}

.#{$display_name}--tbr {
    display: table-row;
}

.#{$display_name}--tbc {
    display: table-cell;
}

.#{$display_name}--li {
    display: list-item;
}

.#{$display_name}--ri {
    display: run-in;
}

.#{$display_name}--cp {
    display: compact;
}

.#{$display_name}--itb {
    display: inline-table;
}

.#{$display_name}--tbcl {
    display: table-column;
}

.#{$display_name}--tbclg {
    display: table-column-group;
}

.#{$display_name}--tbhg {
    display: table-header-group;
}

.#{$display_name}--tbfg {
    display: table-footer-group;
}

.#{$display_name}--tbrg {
    display: table-row-group;
}
