// Variables Used in Class Names
////////////////////////////////////////////////////////////////////////////////

// These can be modified for whatever naming convention seems
// appropriate. The defaults are based on Zen Coding

$margin_name: m;
$padding_name: p;


// These are the pixel dimensions output for each attribute

$margin_iterations: 1, 2, 3, 4, 5, 10, 15, 20, 30;
$padding_iterations: 1, 2, 3, 4, 5, 10, 15, 20, 30;