// Variables Used in Class Names
////////////////////////////////////////////////////////////////////////////////

// These can be modified for whatever naming convention seems
// appropriate. The defaults are based on Zen Coding

$margin_name: m;
$padding_name: p;
$font_size_name: fz;
$float_name: fl;
$width_name: w;
$display_name: d;

// These are the pixel dimensions output for each attribute

$margin_iterations: 1, 2, 3, 4, 5, 10, 15, 20, 30; // px
$padding_iterations: 1, 2, 3, 4, 5, 10, 15, 20, 30; // px
$font_size_iterations: 9, 10, 11, 12, 13, 14, 18, 20, 24, 36, 48, 64, 72; // px
$width_iterations: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100; // %
$height_iterations: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100; // %
